/* .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.column {
  flex: 1;
  margin: 5px;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
} */
