.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: black;
}

.top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



#artist-image {
  margin-top: 0;
  width: 25%;
  height: 55%;

}

 
.artist-info {
  margin-top: 10px;
  text-align: center;
}

h2 {

  color: white;
}

h3 {
 
  color: white;
}

p {
  
  color: white;
}

.bottom-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#album-image { 
 
  width: 15%;
  height: 25%;
 
} 

.album-info {
  margin-right: 50px;
  text-align: center;
}


footer {
  margin-top: 0;
  color: #070606;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}
#countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
} 
table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 50px;
  font-family: arial, sans-serif;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #848181;
}

th {
  background-color: #989393;
  color: black;
}

tr:hover {
  background-color: #9f9c9c;
}



tr:nth-child(even) {
  background-color: #444343;
}

.rating {
  display: inline-block;
  font-size: 20px;
}

.rating input {
  display: none;
}

.rating label {
  color: #131212;
  float: right;
}

.rating label:before {
  content: '\2605';
  font-size: 25px;
  position: relative;
  left: 3px;
}

.rating input:checked ~ label,
.rating:not(:checked) label:hover {
  color: #f7d83d;
}